<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- Type Aliases -->
    <typeAliases>
        <!-- Alias cho class Role -->
        <typeAlias type="com.internship.identity_service.model.User" alias="user"/>
        <typeAlias type="com.internship.identity_service.model.Role" alias="roles"/>
    </typeAliases>
</configuration>
