<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.internship.recruitment_service.mapper.JobCategoriesMapper">
    <!-- Mapping từ bảng job_categories sang model JobCategories -->
    <resultMap id="JobCategoriesResultMap" type="com.internship.recruitment_service.model.JobCategories">
        <id property="jobCategoryId" column="job_category_id"/>
        <result property="jobId" column="job_id"/>
        <result property="categoryId" column="category_id"/>
        <result property="isDeleted" column="is_deleted"/>
    </resultMap>

    <!-- Insert categories -->
    <insert id="insertJobCategories">
        INSERT INTO job_categories (job_id, category_id, is_deleted)
        VALUES
        <foreach collection="categoryIds" item="catId" separator=",">
            (#{jobId}, #{catId}, false)
        </foreach>
    </insert>

    <!-- Get categories of a job -->
    <select id="getCategoryIdsByJobId" resultType="string">
        SELECT category_id
        FROM job_categories
        WHERE job_id = #{jobId} AND is_deleted = false
    </select>

    <!-- Delete soft categories -->
    <update id="softDeleteJobCategories">
        UPDATE job_categories
        SET is_deleted = true
        WHERE job_id = #{jobId}
            AND category_id IN (
                <foreach collection="categoryIds" item="catId" separator=",">
                    #{catId}
                </foreach>
            )
    </update>

    <!--Gợi ý job trên job đang xem -->
    <select id="getRelatedJobsByJobId" resultMap="com.internship.recruitment_service.mapper.JobPostingsMapper.JobPostingsResultMap">
        SELECT DISTINCT jp.*
        FROM job_postings jp
                 JOIN job_categories jc ON jp.job_id = jc.job_id
        WHERE jc.category_id IN (
            SELECT category_id
            FROM job_categories
            WHERE job_id = #{jobId}
        )
          AND jp.job_id != #{jobId}
          AND jp.is_deleted = 0
          AND jp.status = 1
          AND jp.expirationDate > NOW()
        LIMIT 10
    </select>



</mapper>