.swal-wide {
    max-width: 90vw !important;
  }
  
  .swal-title-lg {
    font-size: 28px !important;
    font-weight: 600;
  }
  
  .swal-text-lg {
    font-size: 18px !important;
    margin-top: 12px;
  }
  