<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Reset Password</title>
</head>
<body>
<h1>Reset Your Password</h1>

<form th:action="@{/reset-password}" method="post">
    <input type="hidden" name="token" th:value="${token}" />

    <label>New Password:</label>
    <input type="password" name="newPassword" required />

    <button type="submit">Reset Password</button>
</form>

<div th:if="${error}">
    <p th:text="${error}" style="color: red;"></p>
</div>
</body>
</html>
